@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #212121;
  --wrapper-bg-color: #2c2c2c;
  --header-font-family: "Roboto", sans-serif;
  --header-font-weight: 700;
  --big-header-font-size: 16pt;
  --header-font-size: 14pt;
  --regular-font-size: 11pt;
  --main-font-color: #fff;
  --border-radius: 15px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158);
}

body {
  font-family: var(--header-font-family), -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--regular-font-size);
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  padding: 0;
  font-weight: 400;
}

/* Menu */
/* Menu cards */

.menu-wrapper {
  display: grid;
  grid-template-areas: "menu" "order";
  grid-template-columns: 1fr;
  gap: 1em;
  height: auto;
}

.menu {
  grid-area: menu;
  height: auto;
  border-radius: var(--border-radius);
  color: var(--main-font-color);
  background: var(--wrapper-bg-color);
  padding: 1em;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  overflow-y: visible;
}

.menu-unavailable {
  filter: contrast(50%);
}

.menu > h1 {
  width: 100%;
  padding: 1em;
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
}

.unavailable-beer-heading {
  margin-top: 5em;
}

.menu-card {
  width: 90%;
  padding: 1em;
  margin: 1em;
  border-radius: var(--border-radius);
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-areas: "beer" "amount";
  grid-template-rows: 2fr 0.5fr;
  gap: 1em;
}

.menu-content > img {
  min-width: 3em;
  width: 10em;
}

.menu-content > h1 {
  padding: 3em 0;
}

.menu-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  grid-area: beer;
  height: 27em;
}

.menu-content > p {
  padding: 0 2em 3em 2em;
}

.menu-order {
  grid-area: amount;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.menu-order > h3 {
  width: 70%;
  font-size: var(--big-header-font-size);
  font-weight: var(--header-font-weight);
}

.menu-order > span {
  font-size: var(--big-header-font-size);
  font-weight: var(--header-font-weight);
}

.menu-order > button {
  margin: 0 0.5em;
  padding: 0.3em;
  width: 10%;
  border: none;
  border-radius: 10px;
  font-size: var(--header-font-size);
}

/* Order edit */
.order {
  grid-area: order;
  min-height: 95vh;
  border-radius: var(--border-radius);
  color: var(--main-font-color);
  background: var(--wrapper-bg-color);
}

.order-grid {
  display: grid;
  grid-template-areas: "ordername" "orderamount";
  grid-template-rows: 3fr 0.5fr;
  gap: 1em;
  min-height: 80vh;
}

.order > h1 {
  width: 100%;
  padding: 1em;
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
}

.order-cards {
  grid-area: ordername;
  padding: 1em;
}

.order-cards > ul {
  margin-left: 0.5em;
}

.order-cards > ul > li {
  list-style: none;
  padding: 1em 0;
  border-bottom: 1px solid gray;
}

.order-cards > ul > li:first-child {
  padding: 0 0 1em 0;
}

.order-cards > ul > li > h1 {
  font-size: var(--header-font-size);
  font-weight: 500;
}

.order-price {
  grid-area: orderamount;
  text-align: center;
}

.overall-price > h1 {
  display: inline;
  padding: 0 1em;
  font-size: var(--header-font-size);
  font-weight: 400;
}

.overall-price > span {
  padding: 0 1em;
  font-size: var(--big-header-font-size);
  font-weight: var(--header-font-weight);
}

.order-price > button {
  padding: 0.5em 1em;
  margin: 1em;
  border: none;
  border-radius: 10px;
  font-size: var(--big-header-font-size);
}

/* Loader */
.loader-wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: var(--wrapper-bg-color);
  padding: 5em;
  border-radius: var(--border-radius);
}

/* Form */
.form-wrapper {
  display: grid;
  grid-template-areas: "cc orderlist";
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.cc-wrapper {
  grid-area: cc;
  background-color: white;
  color: var(--main-bg-color);
  padding: 2em;
}

.order-list-wrapper {
  grid-area: orderlist;
  padding: 2em;
}
/* CC */

.cc-wrapper > h1 {
  font-size: 2.5em;
}

.cc-wrapper > form {
  padding: 2em;
  text-align: center;
}

.rccs {
  margin: 1em auto;
}

.cc-wrapper input {
  height: 2em;
  font-size: 1.5em;
  font-weight: var(--header-font-weight);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 0.5em;
}

.cc-wrapper label {
  font-size: var(--big-header-font-size);
  font-weight: var(--header-font-weight);
}

.App-payment > .form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 1em;
  text-align: left;
}

.exp,
.cvc {
  width: 40%;
}

.form-span {
  margin-bottom: 0.5em;
  color: var(--wrapper-bg-color);
  font-size: var(--regular-font-size);
  line-height: 160%;
}

.form-btn {
  margin: 1em;
  width: 40%;
  height: 3em;
  text-decoration: none;
  padding: 0.5em 2em;
  background-color: var(--main-bg-color);
  color: white;
  border: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10px;
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
}

.form-btn:hover {
  background: transparent;
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
}

/* Oder List */

.order-list-wrapper > h1 {
  font-size: 2.5em;
  text-align: right;
}

.order-list-wrapper > ul {
  margin: 2em 2em 1em 2em;
}

.order-list-wrapper > ul > li {
  list-style: none;
  padding: 1em 0;
  border-bottom: 1px solid gray;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.order-list-wrapper > ul > li:first-child {
  padding: 0 0 1em 0;
}

.order-list-wrapper > ul > li > h2 {
  font-size: var(--header-font-size);
  font-weight: 500;
}

.order-list-wrapper > ul > li > img {
  width: 5em;
}

@media only screen and (min-width: 768px) {
  .menu-card {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) {
  .menu-wrapper {
    grid-template-areas: "menu order";
    grid-template-columns: 2fr 1fr;
    height: 95vh;
  }

  .order {
    min-height: unset;
    height: 95vh;
  }

  .order-grid {
    max-height: 88vh;
  }

  .order-cards {
    overflow-y: scroll;
  }

  .menu {
    height: 95vh;
    overflow-y: scroll;
  }

  .order {
    height: 95vh;
  }
}

@media only screen and (min-device-width: 1200px) {
  .menu-wrapper {
    grid-template-columns: 3fr 1fr;
  }
  .menu-card {
    width: 30%;
  }
}
